button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: $color__link;
	color: white;
	font-family: $font__heading;
	@include font-size( .75 );
	padding: .75em 3.5em;
	@include border-radius( 2em );

	&:hover{
		background: lighten( $color__link, 10% );
	}
	
	&:focus,
	&:active{
		outline: none;
		background: darken( $color__link, 20% );
	}
}