input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: none;
	border-bottom: 1px solid $color__border-input;
	padding: 12px 15px 10px;
	@include font-size( .875 );

	&:focus {
		outline: none;
		color: $color__text-input-focus;
	}
}