#colophon{
	margin-top: 2em;
	text-align: center;
	@include font-size( .875 );
	padding-bottom: 10em;

	a{
		text-decoration: underline;
		@include hover-ux();
	}
}

@media screen and ( max-width: $size__breakpoint-mobile ){
	#colophon{
		padding-right: 15px;
		padding-left: 15px;
	}
}