#masthead{
	@include wrap( 620px );
	padding: 140px 0;
}

.site-title{
	text-transform: uppercase;
	font-family: $font__heading;
	font-weight: 700;
	@include font-size( 1.8 );
	margin: 0;

	a{
		@include hover-ux();
	}
}

body.has-site-logo{
	.site-title{
		display: none;
	}
}

.site-description{
	margin: 0;
	color: $color__link;
	@include font-size( 1 );
	font-weight: 400;
}

/**
* Mobile adjustment
*/
@media screen and ( max-width: $size__breakpoint-mobile ){
	#masthead{
		@include wrap( 90% );
		padding-bottom: 60px;
	}
}