@mixin copy{
	@include font-size( 1.1 );
	line-height: 1.8;

	h1{
		line-height: 1.2;
		margin-top: 2em;
		margin-bottom: .5em;
		font-weight: 700;
		@include font-size( 1.6 );
		font-family: $font__heading;
	}

	h2{
		line-height: 1.3;
		margin-top: 2em;
		margin-bottom: .5em;
		font-weight: 700;
		font-style: italic;

		@include font-size( 1.4 );
	}

	h3{
		line-height: 1.3;
		margin-top: 2em;
		margin-bottom: 1em;
		@include font-size( 1.2 );
		font-family: $font__heading;
		border-bottom: 1px dotted lighten( $color__link, 70% );
		padding-bottom: .3em;
	}

	h4{
		font-weight: 300;
		line-height: 1.5;
		margin-top: .4em;
		margin-bottom: .5em;
		font-family: $font__heading;
		@include font-size( 1.1 );
	}

	p {
		margin-top: .2em;
		margin-bottom: 1em;
	}

	a {
		text-decoration: underline;
		@include hover-ux();
	}

	b, strong {
		font-weight: 700;
	}

	dfn, cite, em, i {
		font-style: italic;
	}

	blockquote {
		margin: 1.5em 0;
		padding: .7em 1.2em;
		font-weight: 300;
		color: lighten( $color__text_main, 20% );
		line-height: 1.6;
		border-left: 2px solid darken( $color__background-body, 20% );

		p{
			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	address {
		margin: 0 0 1em;
		font-style: italic;
		line-height: 1.4;
	}

	pre {
		font-family: $font__pre;
		line-height: $font__line-height-pre;
		margin-bottom: 1.6em;
		max-width: 100%;
		overflow: auto;
		padding: 1.6em;
	}

	code, kbd, tt, var {
		font-family: $font__code;
	}

	code{
		padding: 0 3px;
		@include border-radius( 3px );
	}

	pre{
		code{
			padding: 0;
			background: transparent;
			box-shadow: none;
			@include border-radius( 0 );
		}
	}

	abbr, acronym {
		border-bottom: 1px dotted #FAFAFA;
		cursor: help;
	}

	mark, ins {
		text-decoration: none;
	}

	sup,
	sub {
		font-size: 75%;
		height: 0;
		line-height: 0;
		position: relative;
		vertical-align: baseline;

		a{
			text-decoration: none;
			font-weight: 700;
		}
	}

	sup {
		bottom: 1ex;
	}

	sub {
		top: .5ex;
	}

	small {
		font-size: 75%;
	}

	big {
		font-size: 125%;
	}	

	ul,ol{
		margin-left: 0;
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		ul,ol{
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	ul{
		> li{
			list-style: disc;
		}
	}

	ol{
		> li{
			list-style: decimal;
		}
	}

	table{
		border-top: 1px solid lighten( $color__text-main, 30% );
		margin: 2em 0;

		thead{
			td{
				font-family: $font__heading;
				text-transform: uppercase;
				background: lighten( $color__background-body, 5% );			
			}
		}

		tr,th{
			td{
				border-bottom: 1px solid lighten( $color__text-main, 30% );
				padding: .7em .7em .65em;
				font-size: .9em;
				line-height: 1.4;
			}
		}
	}

	.post-password-form{
		margin-top: 1em;
		
		label{
			text-transform: uppercase;
			font-weight: 700;
		}		

		input[type="password"] {
			margin-bottom: 1em;
			margin-right: 1em;
			display: block;
			width: 80%;
		}	
	}
}

.comment-body,
.entry-content{
	@include copy;	

	img{
		padding: 5px 5px 4px;
		margin: -5px -5px -4px;
		background: white;
		line-height: .9;
		box-shadow: 0 2px 2px darken( $color__background-body, 20% );
		
		&.wp-smiley{
			background: none;
			padding: 0;
			margin: 0;
			box-shadow: none;
			line-height: 1;
		}
	}		
}

body.monospace{
	.comment-body,
	.entry-content{
		@include font-size( 1 );

		h1{
			font-style: normal;
			position: relative;
			font-family: $font__code;

			&:before{
				position: absolute;
				top: 2px;
				left: -30px;
				content: '# ';
			}
		}

		h2{
			font-style: normal;
			position: relative;

			&:before{
				position: absolute;
				top: 2px;
				left: -40px;
				content: '##';
			}
		}

		h3{
			position: relative;
			font-family: $font__code;

			&:before{
				position: absolute;
				top: 2px;
				left: -55px;
				content: '###';
			}

		}

		h4{
			position: relative;
			font-family: $font__code;

			&:before{
				position: absolute;
				top: 2px;
				left: -55px;
				content: '####';
			}
		}

		table{
			thead{
				td{
					font-family: $font__code;
				}
			}
		}		
	}	
}