// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Border radius
@mixin border-radius($radius) {
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

// Box model
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model; // Safari <= 7
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

// Button inverse
@mixin button-ghost(){
	border: 1px solid $color__text-main;
	color: $color__text-main;
	font-family: $font__heading;
	padding: .9em 2em;
	@include border-radius( 2em );
	@include font-size( .775 );
	text-decoration: none;
	margin-top: 1em;
	display: inline-block;
	line-height: 1;
	
	&:hover{
		background: $color__text-main;
		color: $color__background-body;
	}

	&:active{
		background: $color__link;
	}	
}

// Hover UX
@mixin hover-ux(){
	&:hover{
		opacity: .6;
	}

	&:active{
		opacity: .8;
	}	
}

// Layout wrapping
@mixin wrap( $width ){
	display: block;
	width: $width;
	margin-right: auto;
	margin-left: auto;
}
