$font__heading: 'Montserrat', sans-serif;
$font__main: 'Vollkorn', 'Georgia', serif;
$font__main_sansserif: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font__code: "Menlo", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;