.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	font-family: $font__heading;
	text-transform: uppercase;
	@include font-size( .9 );
	@include clearfix;
	width: 100%;
	margin-bottom: 6em;

	.nav-links{
		display: block;
		width: 100%;
		@include clearfix;
	}

	a{
		position: relative;
		display: block;
		@include hover-ux();
	}

	& .nav-previous {
		float: left;
		width: 50%;

		a{
			padding-right: 10px;
			display: block;

			&:before{
				font-size: 32px;
				font-family: 'genericons';
				content: '\f430';
				position: absolute;
				top: -14px;
				left: -45px;
			}
		}
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a{
			padding-left: 10px;
			display: block;

			&:after{
				font-size: 32px;
				font-family: 'genericons';
				content: '\f429';
				position: absolute;
				top: -16px;
				right: -45px;
			}
		}
	}
}

/**
* Mobile adjustment
*/
@media screen and ( max-width: $size__breakpoint-mobile ){
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		.nav-previous,
		.nav-next{
			a{
				&:before,
				&:after{
					display: none;
				}
			}
		}
	}
}