#comments{
	margin-top: 5em;
	margin-bottom: 5em;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#respond{
	.comment-form-author,
	.comment-form-email,
	.comment-form-url{
		display: inline-block;
		width: 195px;
		margin-top: 0;
		margin-left: 14px;
		margin-bottom: 2px;

		input{
			width: 100%;
		}
	}

	.comment-form-author{
		margin-left: 0;
	}

	.comment-form-comment{
		margin-bottom: 20px;
	}
}

#comment{
	display: block;
	width: 100%;
}

.comment-list{
	margin-left: 0;
	padding-left: 0;

	li.comment{
		list-style: none;
		margin-bottom: 4em;
	}

	.children{
		margin-top: 4em;
		padding-left: 0;
		margin-left: 85px;
	}

	.says{
		font-style: italic;
	}

	.comment-metadata{
		@include font-size( .815 );

		a{
			text-decoration: none;
			color: $color__text-main;
		}
	}

	.comment-body{
		padding-left: 85px;
		position: relative;

		.avatar{
			position: absolute;
			top: 0;
			left: 0;
			@include border-radius( 50% );
		}
	}

	#respond{
		padding: 1.5em 0;

		.comment-form-author,
		.comment-form-email,
		.comment-form-url{
			width: 100%;
			margin-left: 0;
			margin-bottom: 14px;
		}		

		.comment-form-url{
			margin-bottom: 0;
		}
	}
}

a.comment-reply-link{
	@include button-ghost;
	padding: .7em 2em;
}