#primary{
	@include wrap( 620px );
}

.sticky {
	display: block;
}

.hentry {
	margin-bottom: 6em;
}

.hentry-day {
	margin-top: 10em;
	margin-bottom: 5em;
	font-weight: 300;
	text-transform: uppercase;
	@include font-size( .875 );
	color: $color__text-main;
	font-family: $font__heading;
	position: relative;

	&:before{
		font-family: 'genericons';
		content: '\f303';
		font-size: 16px;
		position: absolute;
		top: -2px;
		left: -25px;
	}
}

.entry-featured-image{
	display: block;
	padding: 10px 10px 8px;
	background: white;
	line-height: .9;
	margin: 20px -10px;
	box-shadow: 0 2px 2px darken( $color__background-body, 20% );
}

.entry-title{
	@include font-size( 1.3 );
	margin-bottom: .25em;
}

.entry-meta{
	@include font-size( .875 );
	color: $color__text-main;
	font-style: italic;

	a{
		color: $color__text-main;
		font-style: normal;
	}
}

a.entry-read-more{
	border: 1px solid $color__text-main;
	color: $color__text-main;
	font-family: $font__heading;
	padding: .9em 2em;
	@include border-radius( 2em );
	@include font-size( .775 );
	text-decoration: none;
	margin-top: 1em;
	display: inline-block;
	line-height: 1;
	
	&:hover{
		background: $color__text-main;
		color: $color__background-body;
	}

	&:active{
		background: $color__link;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}