#primary{
	@include wrap( 620px );
}

.sticky {
	display: block;
}

.hentry {
	margin-bottom: 6em;
}

.hentry-day {
	margin-top: 10em;
	margin-bottom: 5em;
	font-weight: 300;
	text-transform: uppercase;
	@include font-size( .875 );
	color: $color__text-main;
	font-family: $font__heading;
	position: relative;

	&:before{
		font-family: 'genericons';
		content: '\f303';
		font-size: 16px;
		position: absolute;
		top: -2px;
		left: -25px;
	}
}

.entry-featured-image{
	display: block;
	padding: 10px 10px 9px;
	background: white;
	line-height: .9;
	margin: 20px -10px;
	box-shadow: 0 2px 2px darken( $color__background-body, 20% );

	img{
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

.entry-title{
	@include font-size( 1.3 );
	margin-bottom: .25em;
}

.entry-meta{
	@include font-size( .875 );
	color: $color__text-main;
	font-style: italic;

	a{
		color: $color__text-main;
		font-style: normal;
	}
}

a.entry-read-more{
	@include button-ghost;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer{
	display: block;
	margin-top: 4em;
	position: relative;
	
	// &:before{
	// 	content: '';
	// 	width: 150px;
	// 	height: 2px;
	// 	display: block;
	// 	background: darken( $color__background-body, 15% );
	// 	margin: 0 auto 3em;
	// }
}

.cat-links,
.tags-links{
	display: block;
	@include font-size( .875 );
	margin-bottom: 10px;

	.label{
		font-family: $font__heading;
		text-transform: uppercase;
		display: inline-block;
		width: 110px;
		position: relative;

		&:before{
			font-family: 'genericons';			
			font-size: 16px;
			position: absolute;
			top: -1px;
			left: -23px;
		}
	}

	a{
		text-decoration: underline;
	}
}

.cat-links{
	.label{
		&:before{
			content: '\f301';
		}
	}
}

.tags-links{
	.label{
		&:before{
			content: '\f302';
		}
	}
}

#secondary{
	display: none;
}