#primary{
	@include wrap( 620px );
}

.page-title{
	margin-bottom: 0;
	position: relative;
	line-height: 1.2;
	
	&:before{
		font-size: 32px;
		font-family: 'genericons';	
		position: absolute;
		top: 0;
		left: -40px;
	}
}

body{
	&.category{
		.page-title{
			&:before{
				content: '\f301';
			}
		}
	}

	&.tag{
		.page-title{
			&:before{
				content: '\f302';
			}
		}
	}

	&.date{
		.page-title{
			&:before{
				content: '\f303';
			}
		}
	}

	&.search{
		.page-title{
			&:before{
				content: '\f400';
			}
		}
	}
}

.taxonomy-description{
	p{
		margin-top:0;
	}
}

.sticky {
	display: block;

	.entry-title{
		position: relative;

		&:before{
			content: '\f408';
			font-family: 'genericons';
			position: absolute;
			top: -2px;
			left: -30px;
		}
	}
}

.hentry {
	margin-bottom: 15em;
}

.single,
.page{
	.hentry {
		margin-bottom: 10em;
	}
}

.hentry-day {
	margin-top: 10em;
	margin-bottom: 3em;
	font-weight: 300;
	text-transform: uppercase;
	@include font-size( .875 );
	color: lighten( $color__text-main, 30% );
	font-family: $font__heading;
	position: relative;

	&:before{
		font-family: 'genericons';
		content: '\f303';
		font-size: 16px;
		position: absolute;
		top: -2px;
		left: -25px;
	}
}

body.monospace{
	.hentry-day{		
		font-family: $font__code;
		@include font-size( .75 );
	}
}

.entry-featured-image{
	display: block;
	padding: 10px 10px 9px;
	background: white;
	line-height: .9;
	margin: 20px -10px;
	box-shadow: 0 2px 2px darken( $color__background-body, 20% );

	img{
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

.entry-title{
	@include font-size( 1.6 );
	margin-bottom: .25em;
	line-height: 1.2;
	// font-weight: 300;
	font-family: $font__heading;
	text-transform: uppercase;

	a{
		@include hover-ux();
	}

	.entry-subtitle{
		font-weight: 300;
		font-family: $font__heading;
		@include font-size( .875 );
		color: $color__text-main;
		padding-top: 2px;
		padding-bottom: 10px;
	}
}

body.monospace{
	.entry-title{
		font-family: $font__code;

		.entry-subtitle{
			font-family: $font__code;
		}
	}
}

.entry-meta{
	color: lighten( $color__text-main, 30% );
	font-style: italic;
	@include font-size( .875 );

	a{
		color: lighten( $color__text-main, 30% );
		font-style: normal;
		@include hover-ux();
	}

	.genericon-dot{
		&:before{		
			line-height: 1.4;
			margin: 0 1px;
		}
	}
}

a.more-link{
	@include button-ghost;
}

body.monospace{
	a.more-link{
		font-family: $font__code;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}


.error404{
	.page-content{
		margin-bottom: 4em;
		
		.search-field{
			width: 60%;
			margin: 0 1em 1em 0;
		}

		.widget{
			margin-top: 4em;
		}
	}	
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;

	a{
		opacity: .4;
	}
}

.entry-footer{
	display: block;
	margin-top: 2em;
	position: relative;

	&:before{
		font-size: 16px;
		content: '***';
		text-align: center;
		display: block;
		margin-bottom: 3em;
	}

	.post-edit-link{
		@include button-ghost;
	}
}

body.monospace{
	.entry-footer{
		.post-edit-link{
			font-family: $font__code;
		}
	}
}

.cat-links,
.tags-links{
	display: block;
	@include font-size( .875 );
	margin-bottom: 10px;
	position: relative;
	padding-left: 110px;

	.label{
		font-family: $font__heading;
		text-transform: uppercase;
		display: inline-block;
		width: 110px;
		position: absolute;
		top: 0;
		left: 0;

		&:before{
			font-family: 'genericons';			
			font-size: 16px;
			position: absolute;
			top: -1px;
			left: -23px;
		}
	}

	a{
		text-decoration: underline;
		@include hover-ux;
	}
}

body.monospace{
	.cat-links,
	.tags-links{
		.label{
			font-family: $font__code;			
		}
	}
}

.cat-links{
	.label{
		&:before{
			content: '\f301';
		}
	}
}

.tags-links{
	.label{
		&:before{
			content: '\f302';
		}
	}
}

/**
* Mobile adjustment
*/
@media screen and ( max-width: $size__breakpoint-mobile ){
	#primary{
		@include wrap( 90% );
	}

	body{
		&.category,
		&.tag,
		&.date,
		&.search{
			.page-title{
				margin-left: 35px;
			}
		}
	}
	
	.hentry-day{
		margin-top: 6em;
		margin-bottom: 3em;
		margin-left: 22px;
	}

	.entry-featured-image{
		display: block;
		padding: 0;
		background: white;
		line-height: .9;
		margin: 20px 0%;
		box-shadow: 0 2px 2px darken( $color__background-body, 20% );
	}

	.sticky{
		.entry-title{
			margin-left: 30px;
		}
	}

	.cat-links,
	.tags-links{
		margin-left: 22px;
	}
}