#primary{
	@include wrap( 620px );
}

.page-title{
	margin-bottom: 0;
	position: relative;
	line-height: 1.2;
	
	&:before{
		font-size: 32px;
		font-family: 'genericons';	
		position: absolute;
		top: 0;
		left: -40px;
	}
}

body{
	&.category{
		.page-title{
			&:before{
				content: '\f301';
			}
		}
	}

	&.tag{
		.page-title{
			&:before{
				content: '\f302';
			}
		}
	}

	&.date{
		.page-title{
			&:before{
				content: '\f303';
			}
		}
	}

	&.search{
		.page-title{
			&:before{
				content: '\f400';
			}
		}
	}
}

.rtl{
	.page-title{
		&:before{
			left: auto;
			right: -40px;
		}
	}
}

.taxonomy-description{
	p{
		margin-top:0;
	}
}

.sticky {
	display: block;

	.entry-title{
		position: relative;

		&:before{
			content: '\f408';
			font-family: 'genericons';
			position: absolute;
			top: -2px;
			left: -30px;
		}
	}
}

.rtl{
	.sticky{
		.entry-title{
			&:before{
				left: auto;
				right: -30px;
			}
		}		
	}
}

.hentry {
	margin-bottom: 6em;
}

.hentry-day {
	margin-top: 10em;
	margin-bottom: 5em;
	font-weight: 300;
	text-transform: uppercase;
	@include font-size( .875 );
	color: $color__text-main;
	font-family: $font__heading;
	position: relative;

	&:before{
		font-family: 'genericons';
		content: '\f303';
		font-size: 16px;
		position: absolute;
		top: -2px;
		left: -25px;
	}
}

.rtl{
	.hentry-day{
		&:before{
			left: auto;
			right: -25px;
		}
	}
}

.entry-featured-image{
	display: block;
	padding: 10px 10px 9px;
	background: white;
	line-height: .9;
	margin: 20px -10px;
	box-shadow: 0 2px 2px darken( $color__background-body, 20% );

	img{
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

.entry-title{
	@include font-size( 1.3 );
	margin-bottom: .25em;
	line-height: 1.2;

	a{
		@include hover-ux();
	}
}

.entry-meta{
	@include font-size( .875 );
	color: $color__text-main;
	font-style: italic;

	a{
		color: $color__text-main;
		font-style: normal;
		@include hover-ux();
	}
}

a.entry-read-more{
	@include button-ghost;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer{
	display: block;
	margin-top: 2em;
	position: relative;

	&:before{
		font-size: 16px;
		content: '***';
		text-align: center;
		display: block;
		margin-bottom: 3em;
	}

	.post-edit-link{
		@include button-ghost;
	}
}

.cat-links,
.tags-links{
	display: block;
	@include font-size( .875 );
	margin-bottom: 10px;
	position: relative;
	padding-left: 110px;

	.label{
		font-family: $font__heading;
		text-transform: uppercase;
		display: inline-block;
		width: 110px;
		position: absolute;
		top: 0;
		left: 0;

		&:before{
			font-family: 'genericons';			
			font-size: 16px;
			position: absolute;
			top: -1px;
			left: -23px;
		}
	}

	a{
		text-decoration: underline;
		@include hover-ux;
	}
}

.cat-links{
	.label{
		&:before{
			content: '\f301';
		}
	}
}

.tags-links{
	.label{
		&:before{
			content: '\f302';
		}
	}
}

.rtl{
	.cat-links,
	.tags-links{
		padding-left: 0;
		padding-right: 110px;
		
		.label{
			left: auto;
			right: 0;

			&:before{
				left: auto;
				right: -23px;
			}
		}
	}
}

/**
* Mobile adjustment
*/
@media screen and ( max-width: $size__breakpoint-mobile ){
	#primary{
		@include wrap( 90% );
	}

	body{
		&.category,
		&.tag,
		&.date,
		&.search{
			.page-title{
				margin-left: 35px;
			}
		}
	}
	
	.hentry-day{
		margin-top: 6em;
		margin-bottom: 3em;
		margin-left: 22px;
	}

	.entry-featured-image{
		display: block;
		padding: 0;
		background: white;
		line-height: .9;
		margin: 20px 0%;
		box-shadow: 0 2px 2px darken( $color__background-body, 20% );
	}

	.sticky{
		.entry-title{
			margin-left: 30px;
		}
	}

	.rtl{
		.sticky{
			.entry-title{
				margin-left: 0;
				margin-right: 30px;
			}		
		}
	}	

	.cat-links,
	.tags-links{
		margin-left: 22px;
	}

	body.rtl{
		&.category,
		&.tag,
		&.date,
		&.search{
			.page-title{
				margin-left: 0;
				margin-right: 35px;
			}
		}

		.hentry-day{
			margin-left: 0;
			margin-right: 22px;
		}

		.cat-links,
		.tags-links{
			margin-left: 0;
			margin-right: 22px;
		}
	}
}